/* General */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

html { 
  background: url(https://source.unsplash.com/1600x900/?nature,water) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
 	background: transparent;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
button {
	background-color:black;
	border:none;
	color:white;
	padding: .52rem 1rem;
}
input {
	padding: .45rem 1rem;
	box-sizing: border-box;
	border: 1px solid #555;
	outline: none;
}
textarea {
	padding: .45rem 1rem;
	box-sizing: border-box;
	border: 1px solid #555;
	outline: none;
}
img {
	width: inherit;
	max-width: 100%;
	height: auto;
}
.container {
	padding-top:2rem;
	overflow:hidden;
	list-style: none;
	margin: 0;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	padding-right: 2rem;
	padding-left: 2rem;
}
.flex-container {
	word-wrap: anywhere;
	overflow:hidden;
	list-style: none;
	margin: 0;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.space-around {
	justify-content: space-around;
}
.column {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.center {
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.padding {
	padding-right: 2rem;
	padding-left: 2rem;
}
.simple-padding {
	padding: 1rem;
}
.image {
	width: 10rem;
	height: 10rem;
}
.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	margin-bottom: 15px;
}
.close-alert {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
}
.background-fill {
	background: white;
}

/* Top Bar Styles */
.top-bar {
	justify-content: space-between;
}
.top-logo {
  	font-family: 'IBM Plex Mono', monospace;
  	color: #FFFFFF;
	font-size: 60px;
	text-shadow: 5px 5px 8px #040303;
	padding-top: .5rem;
	font-size: 2rem;
	cursor: pointer;
}
.new-button {
	font-size: 2rem;
	text-decoration: none;
	color: black;
	padding-left: 0.5rem;
}
.login {
	font-size: 2rem;
	text-decoration: none;
	color: black;
	padding-left: 0.5rem;
}
.logout {
	font-size: 2rem;
	text-decoration: none;
	color: black;
	padding-left: 0.5rem;
}
.top-right {
	padding-top: 0.25rem;
}

/* Search Page Styles */
.post-container {
	max-width: 50rem;
}
.post-sample {
	/*background-color: black;*/
	color: black;
	margin-bottom: 1rem;
	margin-right: 1rem;
	padding: 0.5rem 2rem;
	text-decoration: none;
	display: inline-block;
}

/* Editing Post Styles */
.post-form {
	max-width: 50rem;
}
.form-item {
	flex: 1 0 100%;
	margin-bottom: 2rem;
}
.edit-button {
	margin-right:1rem;
	max-height: 3rem;
}
.delete-button {
	background-color: red;
	margin-right:1rem;
	max-height: 3rem;
}

/* Post */
.post-container {
	max-width: 50rem;
	background: white;
}
.post {
	padding: 2rem;
	background: white;
}
.post pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: justify;
	background: black;
}
.post a {
	color: black;
}
.post a:hover {
	color: gray;
}

/* Paging */
.paging {
	max-width: 7rem;
	min-width: 5rem;
	padding: 1rem;
	background: white;
}
.paging a {
	color: black;
}

/* Index */
.index-search {
	padding-top: 7rem;
	padding-bottom: 2rem;
}
.index-post-container {
	max-width: 25rem;
	background: white;
}
h1.logo {
	font-family: 'IBM Plex Mono', monospace;
	color: #FFFFFF;
	font-size: 60px;
	text-shadow: 5px 5px 8px #040303;
	text-transform: none !important;
	margin: 0px;
	padding-bottom: 0.5rem;
}

